{% extends 'base.html' %}

{% block content %}

<div class="container-fluid main">
  <div class="card main-card text-center">
    <div class="card-body">

        <form action="{% url 'lor' %}" method="post">
            {% csrf_token %}
            <h4 class="card-title mt-3 mb-0">Age Distribution</h4>
            <small class="mt-0 text-muted">
                You can choose an empirical distribution. Therefore select one of the schemas ploted below.<br>
                Otherwise, you can use a self-configured uniform or fixed Normal distribution for the age.
            </small>

                            
            <!-- Clip the values -->
            <div class="row mt-2 mb-4">
                <div class="mt-4 col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                    <h5 class="mb-0">Clip the Value</h5>
                    <small class="text-muted mb-1">You can clip the age values here</small>
                    <div class="mt-2 mb-3 input-group">
                        <span class="input-group-text" id="clip_age_min_span">min</span>
                        <input id="clip_age_min" type="number" class="form-control text-center" name="clip_age_min" value="{{request.session.0.clip.age.min}}", min="18" aria-describedby="clip_age_min_span">
                        <span class="input-group-text ms-3" id="clip_age_max_span">max</span>
                        <input id="clip_age_max" type="number" class="form-control text-center" name="clip_age_max" value="{{request.session.0.clip.age.max}}", max="140" aria-describedby="clip_age_max_span">
                    </div>    
                </div>
            </div>

            <hr class="border border-secondary border-1 opacity-25" style="margin:1rem auto; display:block;" width="80%">
      
            <div class="dropdown mt-5 mb-2">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% if request.session.0.age.pure_schema %} {{current}} {% else %} Select WardTyp {% endif %}
              </button>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="?selected=uniform">Uniform</a></li>
                  <li><a class="dropdown-item" href="?selected=normal">Fixed Normal</a></li>
                {% for wardtyp in wardtypes %}
                    <li><a class="dropdown-item" href="?selected={{wardtyp.short_name}}">{{wardtyp.name}}</a></li>
                {% endfor %}
              </ul>
            </div>
            <small class="mt-0 text-muted">Select a generation schema</small>


            <!--Uniform option-->
            <div class="row mt-5">
                <div class="mt-0 col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                    <!--Active blue box if fixed normal is selected-->
                    {% if current == "Uniform" %}
                    <div class="border border-primary border-3 p-3">
                    {% endif %}

                        <h5 class="mb-0">Uniform Distribution</h5>
                            <small class="text-muted mt-0 mb-1">These values are in years</small>
                            <div class="input-group mt-2 mb-3">
                                <span class="input-group-text" id="age_uniform_min_span">min</span>
                                <input id="age_uniform_min" type="number" class="form-control text-center" name="age_uniform_min" value="{{request.session.0.age.uniform.min}}", min="18" max="140" step="1", aria-describedby="age_uniform_min_span">
                                <span class="input-group-text ms-3" id="age_uniform_max_span">max</span>
                                <input id="age_uniform_max" type="number" class="form-control text-center" name="age_uniform_max" value="{{request.session.0.age.uniform.max}}", min="18" max="140" step="1" aria-describedby="age_uniform_max_span">
                        </div>
                    
                    {% if current == "Uniform" %}
                    </div>
                    {% endif %}
                </div>
            </div>


            <!-- Normal distribution -->
            <div class="row mt-5">
                <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
                    <!--Active blue box if fixed normal is selected-->
                    {% if current == "Fixed Normal" %}
                    <div class="border border-primary border-3 p-3">
                    {% endif %}

                        <h5>Fixed Normal Distribution</h5>
                        <small class="text-muted mt-0">The generated values are in years</small>
                        <div class="input-group mt-1 mb-3">
                            <span class="input-group-text" id="age_mean_span">μ</span>
                            <input id="age_mean" type="number" class="form-control text-center" name="age_mean" value="{{request.session.0.age.normal.mean}}", min="0" max="120" step="0.0000000000000001" aria-describedby="age_mean_span">
                            <a href="{% url 'age' %}?reset=age,normal,mean" role="button" class="btn btn-outline-secondary" type="button" id="load-default-age-mean">Reset</a>

                            <span class="input-group-text ms-3" id="age_std_span">σ</span>
                            <input id="age_std" type="number" class="form-control text-center" name="age_std" value="{{request.session.0.age.normal.std}}", min="0.2" max="20" step="0.0000000000000001" aria-describedby="age_std_span">
                            <a href="{% url 'age' %}?reset=age,normal,std" role="button" class="btn btn-outline-secondary" type="button" id="load-default-age-std">Reset</a>
                        </div>

                        <div class="mt-4">
                            <h4 class="mb-0">Plot Normal Distribution</h4>
                            {% if plot %}
                                <img src="data:image/png;base64,{{ plot }}" alt="Matplotlib Graph" class="blog-image img-fluid">
                            {% else %}
                                <p class="card-text mt-2 mb-3">No plot was generated. Please use the refresh button.</p>
                            {% endif %}
                        </div>
                    {% if current == "Fixed Normal" %}
                    </div>
                    {% endif %}
                </div>
            </div>
            
            
            <!--show all the plots of different ward types-->
            {% load static %}
            <div class="row mt-5">
                {% for wardtyp in wardtypes %}
                <div class="col-12 col-md-6 col-lg-4">
                    <h5 class="mb-0 mt-4">{{wardtyp.name}}</h5>
                    <!--in case the wardtyp is selected, create a border on the outside of the plot-->
                    {% if wardtyp.name == current %}
                        <div class="border border-primary border-3 p-0">
                            <img src="{% static 'preview-age/' %}{{wardtyp.short_name}}.png" class="img-fluid" alt="ERROR for {{wardtyp.short_name}}">
                        </div>
                    <!--if not selected, no border-->
                    {% else %}
                            <img src="{% static 'preview-age/' %}{{wardtyp.short_name}}.png" class="img-fluid" alt="ERROR for {{wardtyp.short_name}}">
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            
            <p class="card-text mt-5 mb-3">You can reload the plot by pressing the refresh button.</p>
              
            <div>
                <a href="{% url 'los' %}" class="btn btn-secondary btn-lg">Back</a>
                <input type="submit" value="Refresh" id="submit-reload" name="submit-reload" class="btn btn-secondary btn-lg">
                <input type="submit" value="Next" class="btn btn-primary btn-lg">
            </div>
            
        </form>

      </div>
    </div>
  </div>

</div>



{% endblock %}